{% extends 'mainpage/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Поставка" %}
{% endblock %}
{% block header-name %}
    {% trans "Поставка" %}
{% endblock %}
{% block content %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

        {% if formset.errors %}
        {% for error in formset.errors %}
                <div class="error alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
        {% endfor %}
        {% for error in formset.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="colM">
        <form method="POST">
            {% csrf_token %}
        <fieldset class="module aligned">
            {{ form.as_p }}
        </fieldset>
            <div class="submit-row">
                <p class="deletelink-box">
                    <input type="submit" class="default" value="{% trans "Сформировать поставку" %}" >
                </p>
            </div>
        </form>
    </div>
{% endblock %}