{% extends "admin/change_form.html" %}
{% load i18n %}
    {% block submit_buttons_bottom %}
        {% if STATUS_VALUE != STATUS_CANCELLED and STATUS_VALUE != STATUS_DONE%}
            <div class="submit-row list-group">
                <input type="submit" title="{% trans "Отменить заказ" %}"
                       class="default list-group-item active"
                       name="_cancel" value="{% trans "Отменить заказ" %}"
                       {{ onclick_attrib }}>

                 {% if STATUS_VALUE == STATUS_CREATED and SHIPMENT_AVAILABLE%}
                    <input type="submit" title="{% trans "Подтвердить готовность к отправке" %}"
                            class="default list-group-item active"
                            name="_change_status"
                            value={% trans "Подтвердить готовность к отправке" %}
                            {{ onclick_attrib }}>
                    {% elif STATUS_VALUE == STATUS_SENT %}
                        <input type="submit"
                               title="{% trans "Подтвердить получение покупателем" %}"
                               class="default list-group-item active"
                               name="_change_status"
                               value="{% trans "Подтвердить получение покупателем" %}"
                               {{ onclick_attrib }}>
                {% endif %}
            </div>
     {% endif %}
    {% endblock %}
