<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Покупка</title>
</head>
<body>
    <h2>Покупка</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="full_name">ФИО</label>
            <input type="text" id="full_name">
        </div>
        <div>
            <label for="phone_number">Телефон</label>
            <input type="text" id="phone_number">
        </div>
        <div>
            <label for="email">Электронная почта</label>
            <input type="email" id="email">
        </div>
        <div>
            <label for="contact_info">Контактные данные</label>
            <input type="text" id="contact_info">
        </div>
        <div>
            <label for="supplier">Производитель</label>
            <select id="supplier">
                <option value="" selected>Выберите производителя</option>
                <option value="item_1">Производитель_1</option>
            </select>
        </div>
        <div>
            <label for="item">Наименование товара</label>
            <select id="item">
                <option value="" selected>Выберите товар</option>
                <option value="item_1">Товар_1</option>
            </select>
        </div>
        <div>
            <label for="number">Количество</label>
            <input type="number" id="number" value="1" min="0">
        </div>
        <div>
            <input type="submit" value="Купить">
        </div>
    </form>
</body>
</html>