{% extends 'warehouse/base.html' %}
{% load i18n %}
{% load admin_urls %}
    {% block title %}
        {% trans "Склад" %}
    {% endblock %}
    {% block head %}
        <div class="header">
            <div class="header-right">
            <a href="{% url 'warehouse:index' %}">{% trans "Index" %}</a>
            <a href="{% url 'warehouse:order' %}"> {% trans "Покупка" %} </a>
          <!--  <a href="{% url 'warehouse:cargo_list' %}">{% trans "Список заказов" %}</a> -->
            <a href="{% url 'warehouse:cargo_new' %}">{% trans "Поставка" %}</a>
            <a href="{% url "admin:index"%}">{% trans "Склад" %}</a>
            </div>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}