<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Склад</title>
    <div class="header">
        <div class="header-right">
        <a href="{% url 'warehouse:index' %}">Index</a>
        <a href="{% url 'warehouse:customer' %}">Покупка</a>
        <a href="{% url 'warehouse:supplier' %}">Поставка</a>
        <a href="{% url 'warehouse:order_list' %}">Список заказов</a>
        <a href="{% url 'warehouse:order_new' %}">Новый заказ</a>
        <a href="{% url 'warehouse:order_details' %}">Детали заказа</a>

        </div>
    </div>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
