{% extends 'warehouse/base.html' %}
{% load i18n %}

    {% block title %}
        {% trans "Покупка" %}
    {% endblock %}
    {% block header-name %}
        {% trans "Покупка" %}
    {% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
         <div class="submit-row">
            <p class="deletelink-box">
                <input type="submit" class="default" value="{% trans "Отправить заявку на покупку" %}">
            </p>
         </div>
    </form>
{% endblock %}