<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load i18n %}
    <title>{% trans "Поставка" %}</title>
</head>
<body>
    <h2>{% trans "Поставка" %}</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="organization">{% trans "Поставка" %}</label>
            <input type="text" id="organization">
        </div>
        <div>
            <label for="address">{% trans "Адрес" %}</label>
            <input type="text" id="address">
        </div>
        <div>
            <label for="phone_number">{% trans "Телефон" %}</label>
            <input type="text" id="phone_number">
        </div>
        <div>
            <label for="email">{% trans "Электронная почта" %}</label>
            <input type="email" id="email">
        </div>
        <div>
            <label for="legal_details">{% trans "Реквизиты" %}</label>
            <input type="text" id="legal_details">
        </div>
        <div>
            <label for="contact_info">{% trans "Контактные данные" %}</label>
            <input type="text" id="contact_info">
        </div>
        <div>
            <label for="item">{% trans "Наименование товара" %}</label>
            <select id="item">
                <option value="" selected>{% trans "Выберите товар" %}</option>
                <option value="item_1">{% trans "Товар_1" %}</option>
            </select>
        </div>
        <div>
            <label for="number">{% trans "Количество" %}</label>
            <input type="number" id="number" value="1" min="0">
        </div>
        <div>
            <input type="submit" value="{% trans "Отправить запрос на поставку" %}">
        </div>
    </form>
</body>
</html>